.certificate{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #292929;
    color: white;
}

.certificate img {
    width: 60%;
    height: 70%;
    border: rgb(0, 0, 0) 5px solid;
}

.certificate p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.certificate h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}