body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

.App {
  text-align: center;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border: 5px solid #333;
  box-sizing: border-box;
}

h1 {
  font-family: 'Consolas', monospace;
  font-size: 3.5rem;
  margin: 0;
  color: black;
  font-weight: bold;
  background-blend-mode: color-burn;
}

p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
}

.social-links img {
  width: 40px;
  height: 40px;
}
